* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Poppins', sans-serif;
    padding-top: 54px;
    color: #868e96;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    color: #343a40;
}

h1 {
    font-size: 6rem;
    line-height: 5.5rem;
}

h2 {
    font-size: 3.5rem;
}

h3 {
    font-size: 2rem;
}

p.lead {
    font-size: 1.15rem;
    font-weight: 400;
}

.subheading {
    text-transform: uppercase;
    font-weight: 500;
    font-family: 'Poppins', sans-serif;
    font-size: 1.5rem;
}

.social-icons a {
    display: inline-block;
    height: 3.5rem;
    width: 3.5rem;
    background-color: #495057;
    color: #fff !important;
    border-radius: 100%;
    text-align: center;
    font-size: 1.5rem;
    line-height: 3.5rem;
    margin-right: 1rem;
}

.social-icons a:last-child {
    margin-right: 0;
}

.social-icons a:hover {
    background-color: var(--text-primary-color);
}

.dev-icons {
    font-size: 3rem;
}

.dev-icons .list-inline-item i:hover {
    color: var(--text-primary-color);
}

#sideNav .navbar-nav .nav-item .nav-link {
    font-weight: 800;
    letter-spacing: 0.05rem;
    text-transform: uppercase;
}

#sideNav .navbar-toggler:focus {
    outline-color: #c27253;
}

section.resume-section {
    padding-top: 5rem !important;
    padding-bottom: 5rem !important;
    max-width: 75rem;
}

section.resume-section .resume-item .resume-date {
    min-width: none;
}

.bg-primary {
    background-color: var(--theme-primary-color) !important;
}

.text-primary {
    color: var(--text-primary-color) !important;
}

a {
    color: var(--text-primary-color);
}

a:hover,
a:focus,
a:active {
    color: #b43a0a;
}